.card {
  border: 1px solid lightgrey;
  border-radius: 2px;

  &-title {
    border-bottom: 1px solid lightgrey;
    padding: 0 24px;
  }

  &-body {
    padding: 24px;
  }
  &-buttons {
    margin-top: 15px;
    display: flex;
    justify-content: flex-end;
  }
}
