@mixin minimalScrollbar() {
  &::-webkit-scrollbar {
    width: 2px;
    height: 2px;
  }
  &::-webkit-scrollbar-button {
    width: 0px;
    height: 0px;
  }
  &::-webkit-scrollbar-thumb {
    background: #e1e1e1;
    border: 0px none #ffffff;
    border-radius: 50px;
  }
  &::-webkit-scrollbar-thumb:hover {
    background: #ffffff;
  }
  &::-webkit-scrollbar-thumb:active {
    background: #000000;
  }
  &::-webkit-scrollbar-track {
    background: #666666;
    border: 0px none #ffffff;
    border-radius: 50px;
  }
  &::-webkit-scrollbar-track:hover {
    background: #666666;
  }
  &::-webkit-scrollbar-track:active {
    background: #333333;
  }
  &::-webkit-scrollbar-corner {
    background: transparent;
  }
}

.dashboard-sidebar {
  width: 70px;
  height: 100%;
  z-index: 1000;
  flex: 0 0 auto;
  background: #4a5060;
  overflow-x: hidden;
  overflow-y: auto;
  @include minimalScrollbar();
  &-open {
    width: 280px;
    .dashboard-sidebar-toggle {
      width: 280px;
      .glyphicon {
        float: right;
        margin-right: 35px;
      }
    }
  }
  &-closed {
    .dashboard-sidebar-item {
      &-title {
        display: none;
      }
    }
  }
  &-draggable-zone {
    width: 100%;
    height: 25px;
    color: inherit;
    text-align: center;
  }
  &-toggle {
    background: #3a3f4f;
    width: 70px;
    color: #989da9;
    text-align: center;
    font-size: 12px;
    height: 25px;
    padding-top: 4.5px;
    cursor: pointer;
  }
  &-item {
    width: 100%;
    height: 54px;
    color: white;
    cursor: pointer;
    border-bottom: 1px solid #3a3f4f;
    user-select: none;
    &-icon {
      display: inline-block;
      position: relative;
      width: 70px;
      height: 54px;
      img {
        padding-top: 18px;
        padding-left: 20px;
        max-width: 48px;
      }
    }
    &-new-accident {
      background-color: #ff4e5e;
      color: white;
      border-bottom: 1px solid #3a3f4f;
      &-icon {
        img {
          padding-top: 18px;
          padding-left: 24px;
        }
      }
    }
    &-title {
      display: inline-block;
      vertical-align: middle;
      font-size: 17px;
      margin-top: 12px;
    }
    &-numbers {
      display: block;
      position: absolute;
      padding: 1px 1px;
      background-color: #2cddc8;
      border-radius: 50%;
      min-width: 17px;
      text-align: center;
      right: 16px;
      top: 27px;
      z-index: 999;
      border: 1px solid black;
      font-size: 10px;
      color: black;
    }
    &-border {
      border-bottom: 2px solid #3a3f4f;
      width: 85%;
      margin-top: 0px;
      margin-left: auto;
      margin-right: auto;
    }
    &-active {
      background: #3f8ac3;
    }
  }
}


.dashboard-sidebar-right {
  height: 100%;
  width: 70px;
  overflow: hidden;
  z-index: 9999;
  font-size: 14px;
  background: #4a5060;
  flex: 0 0 auto;
  display: flex;
  flex-flow: column;
  right: 0;
  border-left: 1px solid #4a5060;
  &-open {
    width: 320px;
    .dashboard-sidebar-toggle {
      width: 100%;
    }
  }
  &-closed {
    .dashboard-sidebar-toggle {
      .glyphicon {
        float: right;
        margin-right: 32px;
      }
    }
  }
  &-draggable-zone {
    width: 100%;
    height: 50px;
    flex: 0 1 auto;
    padding: 10px;
    input {
      border: 1px solid;
      border-radius: 6px !important;
      width: 100%;
      height: 28px;
      right: 10px;
      padding-left: 8px;
    }
  }
  &-scrollable-container {
    overflow-x: hidden;
    flex: 1 1 auto;
    display: flex;
    flex-flow: column;
    width: 100%;
    @include minimalScrollbar();
  }
  &-toggle {
    background: #3a3f4f;
    width: 70px;
    color: #989da9;
    text-align: center;
    font-size: 12px;
    height: 25px;
    padding-top: 4.5px;
    cursor: pointer;
  }
  &-item {
    width: 100%;
    height: 42px;
    color: white;
    position: relative;
    cursor: pointer;
    user-select: none;
    background: #4a5060;
    text-align: left;
    padding-left: 50px;
    border-bottom: 1px solid #3a3f4f;
    .glyphicon {
      position: absolute;
      left: 7px;
      top: 13px;
      color: #DDD;
    }
    &-tooltip {
      white-space: normal;
      width: 300px;
      background: none;
      .tooltip-inner {
        max-width: none !important;
      }
    }
    &-icon {
      display: inline-block;
      position: absolute;
      left: 27px;
      top: 7px;
      width: 30px;
      height: 30px;
      img {
        width: 26px;
      }
      &-minimal {
        width: 36px;
        left: 18px;
        img {
          width: 30px;
        }
      }
    }
    .checkbox {
      position: absolute;
      right: 10px;
      top: 7px;
      height: 14px;
      width: 14px;
    }
    &-new-accident {
      background-color: #ff4e5e;
      color: white;
      &-icon {
        img {
          padding-top: 18px;
          padding-left: 24px;
        }
      }
    }
    &-title {
      display: inline-block;
      vertical-align: middle;
      line-height: 1em;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
      max-width: calc(100% - 40px);
      margin-right: 70px;
      padding-left: 10px;
      margin-top: 13px;
    }
    &-numbers {
      display: block;
      position: absolute;
      padding: 1px 2px;
      background-color: #2cddc8;
      border-radius: 50%;
      right: 16px;
      top: 27px;
      z-index: 999;
      border: 1px solid black;
      font-size: 10px;
      color: black;
    }
    &-border {
      border-bottom: 2px solid #3a3f4f;
      width: 85%;
      margin-top: 0px;
      margin-left: auto;
      margin-right: auto;
    }
    &-active {
      background: #3f8ac3;
    }
    &-disabled {
    }
  }
}

.sidebar-group {
  width: 100%;
  min-height: 50px;
  flex: 0 1 auto;
  display: flex;
  flex-flow: column;
  transition: flex 0.3s;
  background: #4a5060;
  &.open {
    flex: 1 1 auto;
    // &:nth-child(1) {
    //   max-height: 285px;
    // }
    .sidebar-group-toggle {
      background: #36353a;
    }
    .sidebar-group-sort-panel {
      display: flex;
    }
    .sidebar-group-elements {
      flex: 1 1 auto;
    }
  }
  &-toggle {
    height: 50px;
    padding: 15px;
    cursor: pointer;
    position: relative;
    color: white;
    border-bottom: 1px solid #3a3f4f;
    flex: 0 1 auto;
    .glyphicon {
      position: absolute;
      font-size: 12px;
      top: 18px;
      right: 10px;
    }
  }
  &-sort-panel {
    display: none;
    position: relative;
    border-bottom: 1px solid #3a3f4f;
    .styled-select {
      flex: 1 0 auto;
      select {
        border: none;
        outline: none;
        width: 100%;
        border-radius: 0;
        padding: 0px 10px;
        background: #dbdbe3;
        -webkit-appearance: none;
        color: #636875;
        font-size: 12px;
        height: 24px;
        font-style: italic;
        position: relative;
      }
      &:after {
        content: "\E252";
        font-family: 'Glyphicons Halflings';
        font-size: 10px;
        position: absolute;
        color: #636875;
        right: 12px;
        top: 5px;
        pointer-events: none;
      }
    }
    .styled-checkbox {
      flex: 0 0 auto;
      margin-left: 1px;
      background: #dbdbe3;
      width: 33px;
      height: 24px;
      padding: 0px 9px;
      input {
        height: 14px;
        width: 14px;
      }
    }
  }
  &-elements {
    flex: 0 1 auto;
    overflow-y: auto;
    overflow-x: hidden;
    height: 0;
    @include minimalScrollbar();
    .divider {
      color: white;
      position: relative;
      background: #636875;
      font-size: 12px;
      height: 24px;
      padding-top: 2px;
      text-align: center;
      .styled-checkbox {
        width: 33px;
        position: absolute;
        right: 0px;
        top: 0px;
        input {
          width: 14px;
          height: 14px;
        }
      }
    }
  }
}
