.graph {
  height: 500px;
  background-color: #f5f5f5;
  border: 1px solid #ccc;
  border-radius: 6px;
  display: block;
  margin: 10px 0;
  overflow: auto;
  padding: 12px;
}

.container {
  margin: 50px;
  padding-top: 30px;
  margin-top: 0;
}
