.cross {
  position: absolute;
  top: 0;
  right: 0;
  margin-top: -16px;
  padding: 2px 6px;
  border-radius: 4px;
  background: white;
  border: 1px solid;
  margin-right: -12px;
  cursor: pointer;
}
